@media (max-width:768px) 
{

    .logo{
        width: 80px;
        height: 50px;
        margin: 10px;
    }
    
    .navbar-nav{
        .nav-item{
        display: flex;
        padding: 0px; 
    }    
    }

    .nav-item {
        .nav-link{
        color:rgb(8, 10, 9);
        font-size: 30px;
        font-family: "Bombing";
                }
    }

    .dropdown-menu.show{
            .dropdown-item{
        color: rgb(16, 20, 17);
    }    
    }

.navbar-toggler-icon{
    background-color: rgb(146, 204, 255);
}

    .sub-menu{
        margin-left: -80px;
    }

    .item-sub-menu {
        margin-left: 10px;
    }

    .titulo-home{
        font-size: 40px;
        height: 320px;
        color: rgb(226, 95, 43);
    }
    .content-home{
        font-size: 20px;
        text-align: center;
        border: 3px solid;
        padding: 10px;
    }
    .subtitulo-home{
        font-size: 35px;
        height: 55px;
        text-align: center;
        padding-top: 10px;
    }

    main{
        background: rgb(38, 175, 31);
        background: radial-gradient(circle, rgb(21, 65, 19) 3%, rgb(75, 68, 68) 70%);
    }
    .cont-galeria-home{
        padding: 0;
        border-radius: 20px;
        
    }

    .img-mas-vendidos{
        margin: 30px 70px 30px;
        height: 200px;
        width: 200px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 0px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .img-ofertas{
        margin: 30px 70px 30px;
        height: 200px;
        width: 200px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 0px;
        margin-left: 5px;
        margin-right: 5px;
        
    }

    .grid-footer{
        padding: 0;
        justify-content: space-evenly ;
        background: rgb(105, 242, 245);
        background: radial-gradient(circle, rgb(105, 242, 245) 3%, rgb(0, 0, 0) 70%);
    }

    .titulo-footer{
        color: rgb(189, 96, 79);
        font-size: 10px;
        
    }
    
    
    .icon-footer{
        font-size: 30px;
        color: rgb(250, 189, 189);
        background-color: rgb(92, 49, 49);
        margin: 35px 80px;
        
    }

    /*PRODUCTOS*/

    .cont-produc{
        background-color: rgb(139, 118, 192);
        color: rgb(2, 2, 2);
        font-size: 35px;
        text-align: center;
    }
    
    .contenedor-padre{
        background-color: rgb(47, 65, 59);
        height: 420px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 30px;
        align-items: center;
        justify-content: space-around;
    }
    
    .contenedor-hijo{
        align-self: center;
        height: 200px;
        width: 250px;
        padding: 10px 10px;
        border: 1px solid black;
        border-radius: 20px;
}

    /* CONTACTO */
    .seccion-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        padding-top: 3rem;
        color: rgb(233, 236, 179);
        font-family: "Bombing", serif;
    }
    
    .form-contacto{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 600px;
    }
    
    .form-input{
        height: 40px;
        font-size: 20px;
    }
    
    .form-teax-area{
        height: 200px;
        font-size: 25px;
    }
    
    .div-btn-form{
        display: flex;
        justify-content:space-between;
    }
    
    .btn-form{
            height: 45px;
            width: 140px;
            font-size: 25px;
            margin-bottom: 50px;
    }
    
    .preg-frec{
        color: rgb(248, 93, 220);
        font-size: 25px;
        margin: 20px;
    
    }
    
    .p-preg-frec{
        font-size: 15px;
        color: rgb(255, 255, 255);
        border: 3px solid;
        border-color: azure;
    }
    
    
}


@media (max-width:360px) 
{

    .logo{
        width: 50px;
        height: 30px;
        margin: 10px;
    }
    
    .navbar-nav{
        .nav-item{
        display: flex;
        padding: 0px; 
    }    
    }

    .nav-item {
        .nav-link{
        color:rgb(8, 10, 9);
        font-size: 25px;
        font-family: "Bombing";
                }
    }

    .dropdown-menu.show{
            .dropdown-item{
        color: rgb(16, 20, 17);
    }    
    }
    
    .item-sub-menu {
        margin-left: 10px;
    }

    .titulo-home{
        font-size: 35px;
        height: 220px;
        color: rgb(117, 82, 68);
    }

    .content-home{
        font-size: 15px;
        text-align: center;
        border: 1px solid;
        border-color: rgb(192, 136, 184);
        padding: 5px;
    }

    .subtitulo-home{
        font-size: 25px;
        height: 45px;
        text-align: center;
        padding-top: 10px;
        background-color: rgb(192, 136, 184);
    }

    .cont-galeria-home{
        margin-left: 0px;
    }

    .img-mas-vendidos{
        margin: 10px 10px 10px;
        height: 130px;
        width: 150px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
    }

    .img-ofertas{
        margin: 10px 10px 10px;
        align-self: center;
        height: 130px;
        width: 150px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
    }

    .grid-footer{
        padding: 0;
        background: rgb(105, 242, 245);
        background: radial-gradient(circle, rgb(105, 242, 245) 3%, rgb(0, 0, 0) 70%);
    }

    .titulo-footer{
        flex-direction: row;
        width: 110px;
        color: rgb(131, 55, 55);
        font-size: 10px;
        h2{
            font-size: 15px;
        }
    }
    .titulo-footer{
        p{
            font-size: 10px;
        }
    }

    .icon-footer{
        font-size: 30px;
        color: rgb(250, 189, 189);
        margin: 35px 30px;
    }

    /* CONTACTO*/

    .seccion-form{
        display: flex;
        color: rgb(56, 223, 223);
        font-size: 20px;
        text-align: center;
    }

    .form-input{
        height: 30px;
        font-size: 15px;
    }

    .form-contacto{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 250px;
        margin-top: 4rem;
    }

    .form-teax-area{
        height: 100px;
        font-size: 15px;
    }

    .btn-form{
        height: 20px;
        width: 50px;
        font-size: 15px;
        margin-bottom: 0;
    }

    .preg-frec{
        color: rgb(152, 209, 20);
        font-size: 10px;
        margin: 20px;
    }

    .p-preg-frec{
        font-size: 10px;
        color: aliceblue;
        border: 3px solid;
        border-color: rgb(23, 209, 209);
    }

/*PRODUCTOS*/

    .cont-produc{
        background-color: rgb(139, 118, 192);
        color: rgb(2, 2, 2);
        font-size: 25px;
        text-align: center;
    }

    .contenedor-padre{
        background-color: rgb(131, 38, 53);
        height: 250px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 30px;
        align-items: center;
        justify-content: space-around;
    }
    
    .contenedor-hijo{
        align-self: center;
        height: 100px;
        width: 100px;
        padding: 10px 10px;
        border: 1px solid black;
        border-radius: 20px;
    }


/*Nosotros*/
.titulo-nosotros{
    color: rgb(153, 221, 238);
    font-family: "Bombing", serif;
    font-size: 30px;
}

.p-nosotros{
    border: 1px solid;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.822);
}

.titul-sec-nosotros{
    color: rgb(202, 204, 102);
    font-size: 30px;
    text-align: center;
}

.cont-nosotros{
display: flex;
justify-content: space-evenly;
}

.ubi-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    font-size: 10px;
    color: rgba(240, 248, 255, 0.822);
padding: 10px;
}

}